main{
    /* background-color: brown; */

    border-bottom: 2px solid black;
}

main h3{
    text-indent: 2em;
    margin: 0px;
    padding: 1%;
}

table{
    margin-right: auto;
    margin-left: auto;
}

td,th {
    padding: 2em;
    border: 1px solid black;
    text-align: center;
}

.truth:hover{
    background-color: green;
}

.lie:hover{
    background-color: red;
}